<div class="modal fade" id="personFormModal" tabindex="-1" aria-labelledby="personFormModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="personFormModal">New Person</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', person: @person %>
      </div>
    </div>
  </div>
</div>