<h1>People</h1>

<ul>
  <% @people.each do |person| %>
    <li>
      <%= link_to "#{person.last_name}, #{person.first_name}", person %>
    </li>
  <% end %>
</ul>

<%= link_to "New Person", new_person_path %>