<div id="phone-number-card" class="card carousel-card">
  <div id="phone-number-card-body" class="card-body  carousel-card-body">
    <div class="edit-phone-number">
      <%= link_to "Edit", edit_person_phone_number_path(@person, phone_number) %>
    </div>
    <div id="phone-entry" class="entry">
      <p><%= phone_number.phone_number %></p>
      <p>Comment:
          <% if phone_number.comment.strip.length > 0 %>
            <%= phone_number.comment %>
          <% else %>
            N/A
          <% end %>
      </p>
    </div>
  </div>
</div>