<h1>Phone Numbers</h1>

<ul>
  <% @person.phone_numbers.each do |email| %>
    <li>
      <%= link_to phone_numbers.phone_numbers, person_phone_numbers_path(phone_numbers) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Phone Number', new_person_phone_numbers_path %>