<h1>Addresses</h1>

<ul>
  <% @person.addresses.each do |address| %>
    <li>
      <%= link_to address.street, person_address_path(address) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add address', new_person_address_path %>