li {
  list-style-type: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon, .carousel-indicators {
  filter: invert(1) grayscale(100);
}

.carousel-container {
  display: inline-block;
}

.heading {
  cursor: pointer;
}

.card {
  margin-bottom: .25rem;
}

.button-right {
  display: flex;
  justify-content: flex-end;
}

.details, .addresses, .emails, .phone-numbers {
  margin: 1rem 0;
}
