<div class="modal fade" id="emailFormModal" tabindex="-1" aria-labelledby="emailFormModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="emailFormModal">New Email for <%= @person.informal_name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'emails/form', person: @person, email: @person.emails.new %>
      </div>
    </div>
  </div>
</div>